@font-face {
    font-family: AcuminPro-LightItalic;
    src: url("dependecies/acuminproLightItalic.otf") format("opentype");
}
@font-face {
  font-family: AcuminPro-BlackItalic;
  src: url("dependecies/acuminproBlackItalic.otf") format("opentype");
}



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'AcuminPro-BlackItalic';
  font-size: 100px;
  letter-spacing: 15px;
  text-align: center;
}

p {
  margin-top: -70px;
  font-family: 'AcuminPro-LightItalic';
  font-size: 30px;
  letter-spacing: 5px;
  text-align: center;
}


.graphLine {
  stroke: black;
  stroke-width: 0.7;
}

.intro {
  height: 1000px;
  width: 100%;
}

.introText {
  display: block;
  margin: auto;
  padding-top: 100px;
  height: 500px;
  width: 850px;
}

.europeMap {
  display: block;
  background-color: lightgrey;
  width: 100%;
}


.europeMapSVG {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden
}

.europeText {
  position: absolute;
  display: block;
  padding-top: 70px;
  height: 500px;
  width: 850px;
  left: 0;
  right: 0;
  margin: 0 auto;
}


.atlanticText {
  position: absolute;
  display: block;
  padding-top: 570px;
  height: 500px;
  width: 850px;
  left: 0;
  right: 0;
  margin: 0 auto;
}


.path {
  position: absolute;
  height: 1000px;
  width: 1680px;
  top: -60px;
  pointer-events: none;
}

.shipPath {
  stroke: #e12b2a;
  stroke-width: 1;
  fill: none;
  position: fixed;
  pointer-events: visibleStroke;
  transition: stroke 0.1s, stroke-width 0.1s, opacity 0.1s;
}

.pathHovering {
  stroke-width: 3;
  z-index: 1;
}

.soften {
  stroke: blue;
  stroke-width: 0.1;
  opacity: 0.2;
}

.southDegreeTimeline {
  position: absolute;
  width: 1680px;
  height: 100px;
  margin-top: -60px;
  background-color: white;
}

.southDegreeShips{
  position: absolute;
  margin-left: 14.1%;
  margin-right: 14.1%;
  width: 71.8%;
  height: 2000px;
  background-color: grey;
}

.southMap {
  width: 1680px;
  background-color: red;
}

.southMapSVG {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden
}

.bridge {
  height: 1000px;
  width: 1680px;
  background-color: white;
}

.antarctica {
  height: 10000px;
  width: 100%;
}

#timelineSVG {
  height: 10000px;
  width: 200px;
}


.bridgeText {
  display: block;
  margin: auto;
  padding-top: 70px;
  height: 500px;
  width: 850px;
}

.southLine {
  stroke: transparent;
  stroke-width: 0.5;
}

.graphLine {
  stroke: black;
  stroke-width: 0.5;
}

.tick {
  stroke: transparent;
}

/*antarctica styles*/

.shipCollection {
  position: absolute;
  height: 1000px;
  width: 1680px;
  pointer-events: none;
}

.scrollmagic-pin-spacer {
  pointer-events: none;
}

.pathCollection {
  position: absolute;
  width: 1680px;
  height: 1000px;
  pointer-events: none;
}

.ship {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 10px;
  margin-left: -2.5px;
  margin-top: -2.5px;
  top: -120px;
}

.sdShip {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 10px;
  margin-left: -2.5px;
  margin-top: -2.5px;
}

.timeline {
  position: absolute;
  width: 200px;
  height: 10000px;
}

.antarcticaMap {
  position: absolute;
  width: 1440px;
  height: 10865px;
}
